.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.btn-primary {
    background-color: #4FCBAD3;
    border-color: #4FCBAD3;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.m-b-20 {
    margin-bottom: 20px
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.heading {
    font-size: 21px
}


.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}


.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}


/* Dashed border */
hr.dashed {
border-top: 3px dashed #8785A2;
}

/* Dotted border */
hr.dotted {
border-top: 3px dotted #8785A2;
}

/* Solid border */
hr.solid {
border-top: 3px solid #8785A2;
}

/* Rounded border */
hr.rounded {
border-top: 8px solid #8785A2;
border-radius: 5px;
}

.header{
    background-color: rgb(243, 202, 243);
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    
}

.navtext {
    color: white;
    margin-right: 10px;
    display: inline;
}

#google-login-button {
    border-radius: 5px;
    border: solid black 2px;
    width: 10%;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(255, 240, 255);
  }

a {
    color: black;
    text-decoration: none;
}

.homepage-video-container video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
    
.homepage-content {
    position: sticky;
    z-index:9999999999;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: #0F4C75;
}

body{
    background-position: center;
    background-size: cover;
    z-index: -10;
    background-color: #f2f7fb;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}

.centered {
    position: relative;
    margin: auto;
    text-align: center;
    padding: 25px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.bottom-container {
    padding-top: 25px;
    background-color: #FCBAD3;
    position: relative;
    margin: auto;
    text-align: center;
}

.copyright{
    color: #F9FFEA;
    font-size: 0.75rem;
    padding: 10px 0;
}

.red-color {
    color:red;
}