body {
    background-color: #f2f7fb
}

.login-block {
    margin: 30px auto;
    min-height: 93.6vh
}

.login-block .auth-box {
    margin: 20px auto 0;
    max-width: 450px !important
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff
}

.card .card-block {
    padding: 1.25rem
}

.f-80 {
    font-size: 80px
}

.form-group {
    margin-bottom: 1.25em
}

.form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 9px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.btn-primary {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.m-b-20 {
    margin-bottom: 20px
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.heading {
    font-size: 21px
}

#infoMessage p {
    color: red !important
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}



/* Dashed border */
hr.dashed {
border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
border-top: 8px solid #bbb;
border-radius: 5px;
}

  #location-container {
    border: black solid 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(121, 211, 227);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
}

#navbar{
    display: flex;
    justify-content: space-between;
    
}
.header{
    background-color: rgb(243, 202, 243);
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    
}

#container-text{
    margin-left: 10%;
    padding-bottom: 10px;
}


.comment-box{
    border: black solid 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(149, 214, 225);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
}


.navtext {
    margin-right: 10px;
    display: inline;
}

body{
   margin: 0;
   text-align: center;
}

#google-login-button {
    border-radius: 5px;
    border: solid black 2px;
    width: 10%;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(255, 240, 255);
  }

a {
    color: black;
    text-decoration: none;
}


@media only screen and (max-width: 1265px){

    .comment-box{
        border: black solid 5px;
        border-radius: 5px;
        margin-top: 10px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: rgb(220, 250, 255);
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%;
    }

    #location-container {
        border: black solid 5px;
        border-radius: 5px;
        margin-top: 10px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(173, 218, 226);
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%;
    }


}


@media only screen and (max-width: 600px){

    .comment-box{
        border: black solid 5px;
        border-radius: 5px;
        margin-top: 10px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: rgb(220, 250, 255);
        padding-top: 20px;
        padding-bottom: 20px;
        width: 75%;
    }

    #loocation-container {
        border: black solid 5px;
        border-radius: 5px;
        margin-top: 10px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(182, 207, 211);
        padding-top: 20px;
        padding-bottom: 20px;
        width: 75%;
    }


}