<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<header class="header">
  <nav id="navbar">
    <div>
      <a href="/"><img style="height: 60px; width: auto;" src="../static/img/dumbbells.jpeg"
          alt="dumbbells"></a>
    </div>
    <div id="navtext">
      <h2 class="navtext"><a href="/my_profile">My Profile</a></h2>
      <h2 class="navtext"><a href="/users">Find a Swolemate!</a></h2>
      <h2 class="navtext"><a href="/login">Login</a></h2>
      <h2 class="navtext"><a href="/logout">Logout</a></h2>
    </div>
  </nav>
</header>

<body>
  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
  {% endfor %}
  {% block body %}{% endblock %}
  <div>
  <a href="/"><img class="main-image" style="height: 500px; width: auto; padding: 20px" src="../static/img/logo.png"
    alt="swolemates"></a>
    </div>
</body>

</html>