{% extends 'base.html' %}

{% block title %}Saved swolemates{% endblock %}


{% block body %}

<br>
{% if all_buddies %}
    {% for buddy in all_buddies %}
        <hr class="dashed">
        <h2>{{ buddy.buddy.fname }} {{ buddy.buddy.lname[0]}}</h2>
        <p>Email: <u></u>{{buddy.buddy.email}}</u></p>
        <p>Gender: {{buddy.buddy.gender}}</p>
        <p>Preferred pronouns: {{buddy.buddy.pronouns}}</p>
        <p>About me: {{buddy.buddy.about_me}}</p>
        <p>Favorite gym/location: <a href='{{buddy.buddy.location["url"]}}'><u>{{buddy.buddy.location.name}}</a></u> </p>
        <h4>Send {{ buddy.buddy.fname }} a message!</h4>
        <form class="send_message_form" id="sendmessage_form_{{buddy.buddy.user_id}}" method="post" action="/send_message.json">
            <input type="hidden" id="buddy_id_{{buddy.buddy.user_id}}" value={{buddy.buddy.user_id}}>
            <input type="hidden" id="sender_id" value = {{session.get("user_id")}}>
            <input type="text" id="message_text" name="message_text">
            <button id="send_message" type="submit" class="btn btn-primary mt-2">Send</button>
        </form>
        <br>
        <form class="unsave_buddy_form" id="unsavebuddy_form_{{buddy.buddy.user_id}}" method="post" action="/unsave_buddy.json">
            <button id="unsave_buddy" type="submit" class="btn btn-primary mt-2">Unsave</button> this buddy from your swolemates
            <input type="hidden" id="buddy_id_{{buddy.buddy.user_id}}" value={{buddy.buddy.user_id}}>
            <input type="hidden" id="unsaver_id" value={{session.get("user_id")}}>
        </form>
    {% endfor %}
{% else %}
    <p>No swolemates saved yet. Go say hello to some new <a href="/users"><u>swolemates</u></a></p>
{% endif %}
{% endblock %}








