{% extends 'base.html' %}
{% block title %}Location results{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
      <div class="col-7">
        <div id="buddies">
{% for buddy in gym_users %}
<hr class="dashed">
<p>Swolemate name: <b>{{buddy.fname}} {{buddy.lname}}</b></p>
<p>Email: <u></u>{{buddy.email}}</u></p>
<p>Gender: {{buddy.gender}}</p>
<p>Preferred pronouns: {{buddy.pronouns}}</p>
<p>Preferred location: {{buddy.fav_location}}</p>
<p>About me: {{buddy.pronouns}}</p>
<p>
<form id="save_buddy_form" method="post" action="/save_buddy.json">
<button id="save_buddy" type="submit" class="btn btn-primary mt-2">Save</button> this swolemate as a workout buddy!
<input type="hidden" id="receiver_id" value={{buddy.user_id}}>
<input type="hidden" id="saver_id" value={{session.get("user_id")}}>
</form>
</p>
{% endfor %}
<script src="/static/javascript/save_buddies.js"></script>
{% endblock %}



