{% extends 'base.html' %}

{% block title %}Find your Swolemates{% endblock %}

{% block body %}
<!--Video Page-->
  <div class="homepage-video-container">
    <video id = "homevid" playsinline autoplay muted loop poster="homevidstill.png">
    <source src="../static/img/women-legworkout.mp4" type="video/webm">
  </div>
  <div class="homepage-content" id="center">
    {% if "user_id" not in session %}
    <h2>Welcome! Ready to meet swolemates and get strong?</h2>
    <br>
    <h4><u><a href="/login">Login</a></u> to get started and save your favorite swolemates and locations</h4>  
    {% else %}
    <h3>Hi swolemate! We're so happy you're here!</h3>
    {% endif %}
  </div>

{% endblock %}