{% extends 'base.html' %}

{% block title %}Find your Swolemates{% endblock %}

{% block body %}
<!--Video Page-->
  <div class="homepage-video-container">
    <video id = "homevid" playsinline autoplay muted loop poster="homevidstill.png">
    <source src="../static/img/women-legworkout.mp4" type="video/webm">
  </div>
  <div class="homepage-content">
    {% if "user_id" not in session %}
    <h4>Welcome! Ready to meet swolemates and get strong?</h4>
    <p><u><a href="/login">Log In</a></u> to save your favorite swolemates and locations</p>  
    {% else %}
    <h4>Hi swolemate! We're so happy you're here!</h4>
    {% endif %}
  </div>

{% endblock %}