{% extends 'base.html' %}

{% block title %}Swolemates Login{% endblock %}


{% block body %}

<h2>Already a swolemate? Log In</h2>
<form action="/login" method="POST">
  <p>
    Email: <input type="text" name="email">
  </p>

  <p>
    Password: <input type="password" name="password">
  </p>

  <p>
    <input value="Log In" type="submit">
  </p>
</form>
<h2>Future Swolemate? Create an Account</h2>
<form action="/create-user" method="POST">
  <p>
    Email: <input type="text" name="email">
  </p>

  <p>
    Password: <input type="password" name="password">
  </p>
  <p>
    First name: <input type="text" name="fname">
  </p>
  <p>
    Last name: <input type="text" name="lname">
  </p>
  <p>Please select the gender you most identify with:</p>
  <input type="radio" id="gender1" name="gender" value="Female">
  <label for="gender1">Female</label><br>
  <input type="radio" id="gender2" name="gender" value="Transgender-Female">
  <label for="gender2">Transgender-Female</label><br>  
  <input type="radio" id="gender3" name="gender" value="Male">
  <label for="gender3">Male</label><br>
  <input type="radio" id="gender4" name="gender" value="Transgender-Male">
  <label for="gender4">Transgender-Male</label><br>
  <input type="radio" id="gender5" name="gender" value="Non-Binary/Non-Conforming">
  <label for="gender5">Non-Binary/Non-Conforming</label><br>
  <p>
    <input value="Create Account" type="submit">
  </p>
</form>


{% endblock %}