{% extends 'base.html' %}

{% block title %}Swolemates Login{% endblock %}


{% block body %}

<h2>Please come back soon! Go get swole!</h2>
<h2>Already a swolemate? Log In</h2>
<form action="/login" method="POST">
  <p>
    Email: <input type="text" name="email">
  </p>

  <p>
    Password: <input type="password" name="password">
  </p>
  <p>
    <input value="Log In" type="submit">
  </p>
</form>

<div class="or-container">
  <div class="line-separator"></div>
  <div class="or-label">or</div>
  <div class="line-separator"></div>
</div>
<div class="row">
  <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="/google-login"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Sign in with Google</a> </div>
</div> <br>

<div>
  <p>Forgot Password? No problem!</p>
  <form action="/users/forgotpassword" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

<h2>Future Swolemate? Create an Account</h2>
<form action="/create-user" method="POST">
  <p>
    Email: <input type="text" name="email">
  </p>

  <p>
    Password: <input type="password" name="password">
  </p>
  <p>
    First name: <input type="text" name="fname">
  </p>
  <p>
    Last name: <input type="text" name="lname">
  </p>
  <p>Please select the gender you most identify with:</p>
  <input type="radio" id="gender1" name="gender" value="Cisgender-female">
  <label for="gender1">Cisgender-female</label><br>
  <input type="radio" id="gender2" name="gender" value="Transgender-female">
  <label for="gender2">Transgender-female</label><br>  
  <input type="radio" id="gender3" name="gender" value="Cisgender-male">
  <label for="gender3">Cisgender-male</label><br>
  <input type="radio" id="gender4" name="gender" value="Transgender-male">
  <label for="gender4">Transgender-male</label><br>
  <input type="radio" id="gender5" name="gender" value="Non-binary/non-conforming">
  <label for="gender5">Non-binary/non-conforming</label><br>
  <p>
    <input value="Create Account" type="submit">
  </p>
</form>


{% endblock %}