{% extends 'base.html' %}

{% block title %}Swolemates Login{% endblock %}


{% block body %}

<h2>Thanks for visiting. We hope to see you again soon!</h2>
<h2>Already a swolemate? Log In</h2>
<form action="/login" method="POST">
  <p>
    Email: <input type="text" name="email">
  </p>

  <p>
    Password: <input type="password" name="password">
  </p>

  <p>
    <input value="Log In" type="submit">
  </p>
</form>
<h2>Future Swolemate? Create an Account</h2>
<form action="/create-user" method="POST">
  <p>
    Email: <input type="text" name="email">
  </p>

  <p>
    Password: <input type="password" name="password">
  </p>
  <p>
    First name: <input type="text" name="first name">
  </p>
  <p>
    Last name: <input type="text" name="last name">
  </p>
  <p>
    <input value="Create Account" type="submit">
  </p>
</form>


{% endblock %}