{% extends 'base.html' %}

{% block title %}Find your Swolemates{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <center>
          <b><h2>{{user.fname}}'s Swolemates profile</h2></b>
        </center>
    </div>
    <div class="card-body mx-auto">
        <p class="text-break">        
        <p><u>Email</u>: {{user.email}}</p>
        <p><u>First name</u>: {{user.fname}}</p>
        <p><u>Last name</u>: {{user.lname}}</p>
        <p><u>Gender</u>: {{user.gender}}</p>
        <p><u>Preferred pronouns</u>: {{user.pronouns}}</p>
        <p><u>About me</u>: {{user.about_me}}</p>
        <p><u>Phone number (for sms notifications)</u>: {{user.phone}}</p>
        {% if user.fav_location %}
            <p><u>Favorite gym/location</u>: <a href='{{location["url"]}}'class="btn btn-outline-info btn-sm">{{location.name}}</a></p>
        {% else %}
            <p><u>Favorite gym/location</u>: No locations saved yet.</p>
        {% endif %}
        <a href="/edit_profile" id="button"></a>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <center>
          <b><h4>{{user.fname}}'s swolemates</h4></b>
        </center>
    </div>
    <div class="card-body mx-auto">
        <p class="text-break">
    <h6><u><b><a href="/messages" class="btn btn-outline-info btn-sm">View your messages</a></u></b></h6>
    <h6><u><b><a href="/sent-messages" class="btn btn-outline-info btn-sm">View sent messages</a></u></b></h6>
    <h6><u><b><a href="/buddies" class="btn btn-outline-info btn-sm">Saved Swolemates</a></u></b></h6>
    <h6><u><b><a href="/users" class="btn btn-outline-info btn-sm">Find more Swolemate!</a></u></b></h6></p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <center>
          <b><h6>Search for a workout destination!</h6></b>
        </center>
    </div>
    <div class="card-body mx-auto">
        <p class="text-break">    
    <form action="/search" id="search-form">
        <p style="display: inline;">
            <input id="search-text" type="text" name="term" placeholder='Find: "gym" "HIIT class"'>
            <input id="location-text" type="text" name="location" placeholder="Near: your city/zipcode">
        </p>
        <p style="display: inline;"> <input value="Go!" id="search-button" type="submit"></p>
    </form>
    </div>
</div>


<div class="row align-items-center">
    <div class="bottom-container">
      <p class="copyright">© 2022 made with ❤️ by Emmy Le</p>
    </div>
</div>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

<div id="button"></div>
<script type="text/jsx" src="/static/javascript/react.jsx"></script>

{% endblock %}
