{% extends 'base.html' %}

{% block title %}Find your Swolemates{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col-7">
        <div id="welcome">
            <h2>Welcome {{user.fname}}</h2>
            <hr class="dashed">
            <h3>{{user.fname}}'s Swolemates profile</h3>
            <p>Email: {{user.email}}</p>
            <p>First name: {{user.fname}}</p>
            <p>Last name: {{user.lname}}</p>
            <p>Gender: {{user.gender}}</p>
            <p>Preferred pronouns: {{user.pronouns}}</p>
            <p>About me: {{user.pronouns}}</p>
            <p>Favorite gym/location: {{user.fav_location}}</p>
            <hr class="dashed">

<label for="buddies">View your buddies:</label>
<select name="buddies" id="buddies">
    {% for buddy in all_buddies %}
    <option value="buddy">{{ buddy.buddy.fname }} {{ buddy.buddy.lname }}, Contact Info: {{ buddy.buddy.email }}</option>
</select>
{% endfor %}
    

<h3>Search for a workout destination!</h3>
<form action="/search" id="search-form">
    <p style="display: inline;">
        Find: <input id="search-text" type="text" name="term">
        Near: <input id="location-text" type="text" name="location">
    </p>
    <p style="display: inline;"> <input value="Go!" id="search-button" type="submit"></p>
</form>



{% endblock %}