{% extends 'base.html' %}

{% block title %}Find your Swolemates{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col-7">
        <div id="welcome">
            <h2>Welcome {{user.fname}}</h2>
            <hr class="dashed">
            <h3>{{user.fname}}'s Swolemates profile</h3>
            <p>Email: {{user.email}}</p>
            <p>First name: {{user.fname}}</p>
            <p>Last name: {{user.lname}}</p>
            <p>Gender: {{user.gender}}</p>
            <p>Preferred pronouns: {{user.pronouns}}</p>
            <p>About me: {{user.about_me}}</p>
            <p>Phone number (for sms notifications): {{user.phone}}</p>
            {% if user.fav_location %}
                <p>Favorite gym/location: <a href='{{location["url"]}}'><u>{{location.name}}</a></u> </p>
            {% else %}
                <p>Favorite gym/location: No locations saved yet.</p>
            {% endif %}
            <p><u><b><a href="/edit_profile" id="button">Update</a></u></b> your personal information.</p>
            <hr class="dashed">

<h2>{{user.fname}}'s swolemates</h3>
<h3><u><b><a href="/messages">View your messages</a></u></b></h3>
<h3><u><b><a href="/sent-messages">View sent messages</a></u></b></h3>
<h3><u><b><a href="/buddies">Saved Swolemates</a></u></b></h3>

<hr class="dashed">
    
<h3>Search for a workout destination!</h3>
<form action="/search" id="search-form">
    <p style="display: inline;">
        Find: <input id="search-text" type="text" name="term">
        Near: <input id="location-text" type="text" name="location">
    </p>
    <p style="display: inline;"> <input value="Go!" id="search-button" type="submit"></p>
</form>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

<div id="button"></div>
<script type="text/jsx" src="/static/javascript/react.jsx"></script>

{% endblock %}
