{% extends 'base.html' %}

{% block title %}Swolemates Login{% endblock %}


{% block body %}

<section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material" action="/login" method="POST">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading">Create your Swolemates account. It’s free and only takes a minute.</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary"> <input type="text" class="form-control" name="first_name" value="" placeholder="First name" id="first_name"> </div>
                            <div class="form-group form-primary"> <input type="text" class="form-control" name="last_name" value="" placeholder="Last name" id="last_name"> </div>
                            <div class="form-group form-primary"> <input type="text" class="form-control" name="email" value="" placeholder="Email" id="email"> </div>
                            <p>Please select the gender you most identify with:</p>
                            <input type="radio" id="gender1" name="gender" value="Cisgender-female">
                            <label for="gender1">Cisgender-female</label><br>
                            <input type="radio" id="gender2" name="gender" value="Transgender-female">
                            <label for="gender2">Transgender-female</label><br>  
                            <input type="radio" id="gender3" name="gender" value="Cisgender-male">
                            <label for="gender3">Cisgender-male</label><br>
                            <input type="radio" id="gender4" name="gender" value="Transgender-male">
                            <label for="gender4">Transgender-male</label><br>
                            <input type="radio" id="gender5" name="gender" value="Non-binary/non-conforming">
                            <label for="gender5">Non-binary/non-conforming</label><br>
                            <p>
                            <div class="form-group form-primary"> <input type="password" class="form-control" name="password" placeholder="Password" value="" id="password"> </div>
                            <div class="form-group form-primary"> <input type="password" class="form-control" name="password_confirm" placeholder="Repeat password" value="" id="password_confirm"> </div>
                            <div class="row">
                                <div class="col-md-12"> <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Signup Now"> <!-- <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="fa fa-lock"></i> Signup Now </button> -->
                                </div>
                            </div>
                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">or</div>
                                <div class="line-separator"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="/google-login"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>
                            </div> <br>
                            <p class="text-inverse text-center">Already have an account? <a href="/login" data-abc="true">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}