{% extends 'base.html' %}

{% block title %}Saved swolemates{% endblock %}


{% block body %}
<h2>My sent messages</h2>
<a href="/delete" onclick="return confirm('Are you sure to archive the messages in your inbox?')"><u><b>Archive messages</u></b></a>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        <hr class="dashed">
        <p>To: {{ message.buddy.fname }} {{ message.buddy.lname[0] }}</p>
        <p>Sent on: {{ message.message_date }}</p>
        <p>{{ message.message}}</p>
    {% endfor %}
{% else %}
    <p>No messages sent yet. Try saying hello to your <a href="/buddies"><u>saved</u> swolemates or </a><a href="/users"><u>go</u></a> find some new ones!</p>
{% endif %}
{% endblock %}