{% extends 'base.html' %}

{% block title %}Find your Swolemates{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col-7">
        <div id="welcome">
          {% if "logged_in_user" in session %}
          <h2>Hi {{user.fname}}. We're so happy you're here!</h2>
          {% else %}
          <h2>Welcome! Ready to get meet friends and get strong?</h2>
          {% endif %}

<p>Search for a workout destination!</p>
<form action="/search" id="search-form">
    <p style="display: inline;">
        Find: <input id="search-text" type="text" name="search-name">
        Near: <input id="location-text" type="text" name="location-name">
    </p>
    <p style="display: inline;"> <input value="Go!" id="search-button" type="submit"></p>
</form>



{% endblock %}